<% if notice %>
    <p id="notice" ><%= notice %></p>
<% end %>

<fieldset class="smallForm">
  <legend class="formLegend"><h4>Запись на консультацию</h4></legend>

  <% if @patient.errors.any? %>
      <div id="error_explanation" >
        <h2><%= pluralize(@patient.errors.count, "ошибки" ) %>
          Не позволили произвести запись:</h2>
        <ul>
          <% @patient.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

    <%= simple_form_for @patient, :html => { :class => 'form-horizontal' } do |f| %>
        <%= f.input :name, label: "Имя :", placeholder: "Введите ваше имя" %>
        <%= f.input :skype, label: "Skype :", placeholder: "Введите ваш скайп логин"  %>
        <%= f.input :tel, label: "Телефон :", placeholder: "Введите ваш номер телефона"  %>
        <%= f.input :age, label: "Возраст :", placeholder: "Введите ваш возраст", collection: 18..50  %>
        <%= f.input :gender, :collection => ["М", "Ж"], :as => :radio_buttons, :label => 'Пол :' %>
        <br />
        <center>
          <%= f.button :submit, 'Записаться' %>
        </center>
    <% end %>

</fieldset>