<% if notice %>
    <p id="notice" ><%= notice %></p>
<% end %>

<fieldset class="smallForm">
  <legend class="formLegend"><h4><%= t('new_patient_legend') %></h4></legend>

  <% if @patient.errors.any? %>
      <div id="error_explanation" >
        <h4><%= pluralize(@patient.errors.count, "error" ) %>
          Was found during validation, please fix them to continue:</h4>
        <ul>
          <% @patient.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

    <%= simple_form_for @patient, :html => { :class => 'form-horizontal' } do |f| %>
        <%= f.input :name, label: t('name_label'), placeholder: t('name_placeholder') %>
        <%= f.input :skype, label: t('skype_label'), placeholder: t('skype_placeholder')  %>
        <%= f.input :tel, label: t('tel_label'), placeholder: t('tel_placeholder')  %>
        <%= f.input :age, label: t('age_label'), placeholder: t('age_placeholder'), collection: 18..50  %>
        <%= f.input :gender, :collection => ["лю", "лќ"], :as => :radio_buttons, :label => t('gender_label') %>
        <%= simple_fields_for :doctors do |d|%>
            <%= d.input :id, collection: @doctors_names_list, :label => t('doctor_label') %>
        <% end %>
        <br />
        <center>
          <%= f.button :submit, t('submit_new_appointment') %>
        </center>
    <% end %>

</fieldset>