<fieldset class="smallForm">
  <legend class="formLegend"><h4><%= t('show_patient_legend') %></h4></legend>
  <table class="table table-striped">
    <tr>
      <td>
        <%= t('name_label') %>
      </td>
      <td>
        <%= @patient.name %>
      </td>
    </tr>
    <tr>
      <td>
        <%= t('skype_label') %>
      </td>
      <td>
        <%= @patient.skype %>
      </td>
    </tr>
    <tr>
      <td>
        <%= t('age_label') %>
      </td>
      <td>
        <%= @patient.age %>
      </td>
    </tr>
    <tr>
      <td>
        <%= t('gender_label') %>
      </td>
      <td>
        <%= @patient.gender %>
      </td>
    </tr>
    <tr>
      <td>
        <%= t('tel_label') %>
      </td>
      <td>
        <%= @patient.tel %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <a href="javascript:history.back();"><%= t('go_back_to_meetings_link') %></a>
      </td>
    </tr>
  </table>
</fieldset>