<% if notice %>
    <p id="notice" ><%= notice %></p>
<% end %>

<fieldset class="smallForm">
  <legend class="formLegend"><h4>Редактирование доктора</h4></legend>

  <% if @doctor.errors.any? %>
      <div id="error_explanation" >
        <h2><%= pluralize(@doctor.errors.count, "ошибки" ) %>
          Не позволили произвести запись:</h2>
        <ul>
          <% @doctor.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <%= simple_form_for @doctor , :html => { :class => 'form-horizontal' } do |f| %>
      <%= f.input :name, label: "Имя :" %>
      <%= f.input :email, label: "email :"  %>
      <br />
      <center>
        <%= f.button :submit, 'Редактировать' %> &nbsp&nbsp&nbsp <%= link_to 'Вернуться к списку врачей', doctors_path %>
      </center>

  <% end %>



</fieldset>
