<% if notice %>
    <p id="notice" ><%= notice %></p>
<% end %>

<h2>Список докторов :</h2>

<% if @doctors.any? %>

    <table class="table table-hover">
      <thead>
      <tr>
        <th>Имя </th>
        <th>email </th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @doctors.each do |doctor| %>
          <tr>
            <td><%= doctor.name %></td>
            <td><%= doctor.email %></td>
            <td><%= link_to 'Посмотреть', doctor_path(doctor) %></td>
            <td><%= link_to 'Редактировать', edit_doctor_path(doctor) %></td>
            <td><%= link_to 'Удалить', doctor, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
          </tr>
      <% end %>
      </tbody>
    </table>


<% else %>
    У нас нет добавленных докторов
<% end %>


<br>

<%= link_to 'Добавить нового доктора', new_doctor_path %>
