<fieldset class="smallForm">
  <legend class="formLegend"><h4><%= t('show_doctor_legend') %></h4></legend>
  <table class="table table-striped">
    <tr>
      <td>
        <%= t('name_header') %>
      </td>
      <td>
        <%= @doctor.name %>
      </td>
    </tr>
    <tr>
      <td>
        <%= t('email_header') %>
      </td>
      <td>
        <%= @doctor.email %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= link_to t('go_back_to_doctors_link'), doctors_path %>
      </td>
    </tr>
  </table>

  <br />

  <!--TODO:Add calendar-->

  <br />


</fieldset>