<!DOCTYPE html>
<html>
<head>
  <title>MedicalProject</title>
  <%= stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">

  <!-- Title -->
  <div class="title">
    <div class="title-top">
      <div class="title-left">
        <div class="title-right">
          <div class="title-bottom">
            <div class="title-top-left">
              <div class="title-bottom-left">
                <div class="title-top-right">
                  <div class="title-bottom-right">
                    <h1><a href="/doctors/sign_in" title=<%= t('title_link') %>> <%= t('title_html') %></a></h1>

                    <p><%= t('title_p') %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Title end -->

  <hr class="noscreen"/>

  <div class="content">

    <div class="column-left">
      <%if doctor_signed_in?%>
          <div class="smallForm">
            <p><%= t('entered_like') %> <%= current_doctor.name %></p>
            <br />
            <%= button_to t('leave'), destroy_doctor_session_path, method: :delete, :class=>"btn"  %>
          </div>
      <% end %>


      <h3><%= t('menu') %></h3>
      <a href="#skip-menu" class="hidden"></a>
      <ul class="menu">

        </li>
        <li><a href="/"> <%= t('main') %> </a></li>
        <li><a href="/patients/new"> <%= t('make_appointment') %> </a></li>
        <%if doctor_signed_in?%>
            <li><a href="/doctors"> <%= t('doctors_list') %> </a></li>
        <% end %>
        <!--TODO:Disactivated because page is not ready yet-->
        <li><a href="/" onclick="return false" class="active"> О нас </a></li>

      </ul>
    </div>

    <div id="skip-menu"></div>
    <div class="column-right">
      <div class="box">
        <div class="box-top"></div>
        <div class="box-in">

          <%= yield %>

        </div>
      </div>

      <div class="box-bottom">

        <hr class="noscreen"/>

        <div class="footer-info-left"><a href="https://github.com/VladislavPovedyuk/MedicalProject"
                                         target="blank">Developers Team</a>, 2014.
        </div>

      </div>

      <div class="cleaner">&nbsp;</div>
    </div>
  </div>

</div>
</body>
</html>
